body {
    font-family: sans-serif;
    margin: 40px
}

input,
textarea {
    display: block;
    margin: 5px 0;
    padding: 8px
}

button {
    padding: 10px;
    background: black;
    color: white
}